<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>DivTable Generator</title>
<script src="js/jquery.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/angular.js"></script>
<script src="js/Properties.js"></script>
<script src="js/Application.js"></script>
<script src="js/Controller.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js"></script>
<link rel="stylesheet" href="css/bootstrap.css">
<style>
body{
       background-image: url(images/divtableimage.jpg);
       background-repeat: no-repeat;
       background-size: cover;
}
.border{
       border-radius: 25px;
       padding: 20px;
}
.buttonStyle{
       font-size:12px;
}
</style>
</head>
<body  ng-app="Application">
<div class="container-fluid">
       <div>
              <div class="row">
                     <h2 class="text-center" style="color:white">DIV Table Generator</h2>
              </div>
       </div>
       <br>
       <div class="row">
              <div class="col-md-4 col-md-offset-1 border" style="background-color: #5E7175;">
                     <br>
                    <div class="form-group">
                           <label> No of rows:</label>
                           <input type ="text" class = "form-control" ng-model="divtable.noOfRows" style="width:75%" required="required"><br> <br>
                    </div>
                    <div class="form-group">
                           <label> No of columns: </label>
                           <input type ="text" class = "form-control" ng-model="divtable.noOfColumns" style="width:75%" required="required"><br>
                    </div>
                    <div class="row">
                           <div class="col-md-6">
                                  <input type="submit" class="btn btn-success btn-lg btn-block buttonStyle" value="Generate HTML" ng-click="tableClickFunction()">
                           </div>
                           <div class="col-md-6">
                                  <a href="api/DivTable/DivTable.html"><input type="button" class="btn btn-primary btn-lg btn-block buttonStyle" value="Download HTML"></a>
                           </div>
                     </div>
                     <br>
              <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                           <input type="button" class="btn btn-warning btn-lg btn-block buttonStyle" ng-click="myfunc()" ng-model="divtableValue" value="Show Preview">
                    </div>
                    <div class="col-md-3"></div>
              </div>
              <br>
              <div class="row">
                    <div ng-show="divtableValue" class="scrollable" style="background-color: white">
                                  <span ng-bind-html="divtableValue"></span>
                            </div>
                       </div>
                     <br>
              </div>
              <div class="col-md-4 col-md-offset-2 border" style="background-color: #5E7175;">
                     <div class="form-group">
                           <label id="id1">Table Borders:</label>
                           <br>
                           <div class="row">
                                  <div class="col-md-4 form-group">
                                         <label id="id1">Border Width:</label>
                                         <input type="number" class="form-control" ng-model="cssdivtable.borderWidth" min="1" max="5"> 
                                  </div>
                                  <div class="col-md-4 form-group">
                                         <label id="id1">Border Style:</label>
                                         <select class="form-control" ng-model="cssdivtable.borderStyle" >
                                                <option value="">--Select--</option>
                                                <option value="dotted">dotted</option>
                                                <option value="solid">solid</option>
                                                <option value="double">double</option>
                                                <option value="groove">groove</option>
                                                <option value="ridge">ridge</option>
                                                <option value="inset">inset</option>
                                                <option value="outset">outset</option>
                                               <option value="none">none</option>
                                                <option value="hidden">hidden</option>
                                         </select>
                                  </div>
                                  <div class="col-md-4 form-group">
                                         <label id="id1">Border Color:</label>
                                         <input type="color" class="form-control" ng-model="cssdivtable.borderColor"> 
                                  </div>
                           </div>
                     </div> 
                     <div class="form-group">
                           <input type="checkbox" ng-model="cssdivtable.borderCollapse" ng-true-value="'y'" ng-false-value="'no'"><span id="id1">Do you want border collapse?</span>
                     </div>
                     <div class="form-group">
                           <label id="id1">Table Width and Height</label>
                           <div class="row">
                                  <div class="col-md-3 form-group">
                                         <label id="id1">Width:</label>
                                         <input type="text" ng-model="cssdivtable.tableWidth" class="form-control">
                                  </div>
                                  <div class="col-md-3 form-group">
                                         <label id="id1">Unit</label>
                                         <select class="form-control" ng-model="cssdivtable.tableWidthUnit">
                                                <option value="">----</option>
                                                <option value="in">in</option>
                                                <option value="px">px</option>
                                                <option value="%">%</option>
                                         </select>
                                  </div>
                                  <div class="col-md-3 form-group">
                                         <label id="id1">Height:</label>
                                         <input type="text" ng-model="cssdivtable.tableHeight" class="form-control">
                                  </div>
                                  <div class="col-md-3 form-group">
                                         <label id="id1">Unit</label>
                                         <select class="form-control" ng-model="cssdivtable.tableHeightUnit">
                                                <option value="">----</option>
                                                <option value="in">in</option>
                                                <option value="px">px</option>
                                                <option value="%">%</option>
                                         </select>
                                  </div>
                           </div>
                     </div>
                     <div class="form-group">
                           <label id="id1">Horizontal Alignment</label>
                           <select class="form-control" ng-model="cssdivtable.horizontalAlign">
                                  <option value="">--Select--</option>
                                  <option value="left">Left</option>
                                  <option value="right">Right</option>
                                  <option value="center">Center</option>
                           </select>
                     </div>
                     <div class="form-group">
                           <label id="id1">Vertical Alignment</label>
                           <select class="form-control" ng-model="cssdivtable.verticalAlign">
                                  <option value="">--Select--</option>
                                  <option value="top">Top</option>
                                  <option value="bottom">Bottom</option>
                                  <option value="middle">Middle</option>
                           </select>
                     </div>
                     <div class="form-group">
                           <label id="id1">Table Padding</label>
                           <div class="row">
                                  <div class="col-md-6 form-group">
                                         <label id="id1">Padding</label>
                                         <input type="text" ng-model="cssdivtable.tablePadding" class="form-control">
                                  </div>
                                  <div class="col-md-4 form-group">
                                         <label id="id1">Unit</label>
                                         <select class="form-control" ng-model="cssdivtable.tablePaddingUnit">
                                                <option value="">--Select--</option>
                                                <option value="in">in</option>
                                                <option value="px">px</option>
                                                <option value="%">%</option>
                                         </select>
                                  </div>
                           </div>
                     </div>
                     <div class="form-group">
                           <input type="checkbox" ng-model="cssdivtable.horizontalDividers" ng-true-value="'y'" ng-false-value="'n'"><span id="#id1">Do you want Horizontal dividers table</span>
                     </div>
                     <div ng-if="cssdivtable.horizontalDividers=='y'">
                           <div class="form-group">
                                  <label id="id1">Horizontal Dividers:</label>
                                  <br>
                                  <div class="row">
                                         <div class="col-md-4 form-group">
                                                <label id="id1">Border Width:</label>
                                                <input type="number" class="form-control" ng-model="cssdivtable.horizontalborderWidth" min="1" max="5"> 
                                         </div>
                                         <div class="col-md-4 form-group">
                                                <label id="id1">Border Style:</label>
                                                <select class="form-control" ng-model="cssdivtable.horizontalborderStyle" >
                                                       <option value="">--Select--</option>
                                                       <option value="dotted">dotted</option>
                                                       <option value="dashed">dashed</option>
                                                       <option value="solid">solid</option>
                                                       <option value="double">double</option>
                                                       <option value="groove">groove</option>
                                                       <option value="ridge">ridge</option>
                                                       <option value="inset">inset</option>
                                                       <option value="outset">outset</option>
                                                       <option value="none">none</option>
                                                       <option value="hidden">hidden</option>
                                                </select>
                                         </div>
                                         <div class="col-md-4 form-group">
                                                <label id="id1">Border Color:</label>
                                                <input type="color" class="form-control" ng-model="cssdivtable.horizontalborderColor"> 
                                         </div>
                                  </div>
                           </div> 
                     </div>
                     <div class="form-group">
                           <input type="checkbox" ng-model="cssdivtable.hovertable" ng-true-value="'y'" ng-false-value="'n'"><span id="#id1">Do you want Hoverable table</span>
                     </div>
                     <div ng-if="cssdivtable.hovertable=='y'">
                           <div class="form-group">
                                  <label id="id1">Choose color</label>
                                  <input type="color" class="form-control" style="width:50%" ng-model="cssdivtable.hovertableColor">
                           </div>
                     </div>
                     <div class="form-group">
                           <input type="checkbox" ng-model="cssdivtable.stripedtable" ng-true-value="'y'" ng-false-value="'n'"><span id="#id1">Do you want Striped table</span>
                     </div>
                     <div ng-if="cssdivtable.stripedtable=='y'">
                           <div class="form-group">
                                  <label id="id1">Choose color</label>
                                  <input type="color" class="form-control" style="width:50%" ng-model="cssdivtable.stripedtableColor"><br>
                                  <label id="id1">Choose position: </label>
                                  <select class="form-control" ng-model="cssdivtable.stripedtableValue" >
                                         <option value="">--Select--</option>
                                         <option value="even">Even</option>
                                         <option value="odd">Odd</option>
                                  </select>
                           </div>
                     </div>
                     <div class="form-group">
                           <label id="id1">Table Color</label><br>
                           <label id="id1">Choose Background Color:</label>
                           <input type="color" class="form-control" style="width:50%" ng-model="cssdivtable.tableBackgroundColor"><br>
                           <label id="id1">Choose Text Color:</label>
                           <input type="color" class="form-control" style="width:50%" ng-model="cssdivtable.tableTextColor"><br>
                     </div>
                     <div class="form-group">
                           <input type="checkbox" ng-model="cssdivtable.responsivetable" ng-true-value="'y'" ng-false-value="'n'"><span id="#id1">Do you want Responsive table</span>
                     </div>
                     <div class="row">
                           <div class="col-md-6"> 
                                  <input type="submit" class="btn btn-success btn-lg btn-block buttonStyle" value="Generate CSS" ng-click="cssdivtableClickFunction()">
                           </div>
                           <div class="col-md-6">
                                  <a href="api/DivTable/DivTableCSS.css"><input type="button" class="btn btn-primary btn-lg btn-block buttonStyle" value="Download CSS"></a>
                           </div>
                     </div>
              </div>
       </div>
</div>
</body>
</html>
